<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="./signup.js" defer></script>
    <div id="app" class="main">
        <div class="signup">
            <div class="form">
                <p v-if="error">{{ error }}</p>
                <p>Username</p>
                <input v-model="username" type="text" placeholder="login" name="username">
                <p>Password</p>
                <input v-model="password" type="text" placeholder="password" name="password">
                <button v-on:click="signup">Sign up</button>
            </div>
        </div>
        <div class="login">
            <a href="/login">Go login</a>
        </div>
    </div>
</head>
<body>

</body>
</html>